[submodule "client"]
	path = client
	url = https://github.com/prajwolrg/darkforest-client
[submodule "eth"]
	path = eth
	url = https://github.com/prajwolrg/darkforest-eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/prajwolrg/darkforest-circuits
[submodule "packages"]
	path = packages
	url = https://github.com/prajwolrg/darkforest-packages
